record(longin, "$(S)_$(SS):$(DVC)$(N)$(DI):CplrBTSlot$(SLOT)") {
  field(DESC, "Bus Terminal Type of slot $(SLOT)")
  field(SCAN, "10 second")
  field(PINI, "YES")
  field(DTYP, "Bx9000_Info")
  field(INP,  "@$(COUPLER):$(SLOT):BTTYPE")
}

